.header{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

.topnav{
    overflow: hidden;
    background-color: black;
    padding: 10px;
}

.links{
    float: left;
    display: block;
    background-color: white;
    color:black;
    margin-left: 30px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: #dddddd;
    color: black;
}

.column{
    float: left;
    width: 33.33%;
    padding: 15px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px){
    .column{
        width: 100%;
    }
}

ul{
    list-style: none;
}